<header>
  <div class="heading-and-toggleview">
    <h1 routerLink="/">Foodies</h1>
    <button (click)="toggleView()">
      <app-icon-change-circle></app-icon-change-circle>
      @if(loginVisible()){Logged in as: }{{ viewState() }}
    </button>
  </div>
  <div class="navbar">
    <nav>
      <ul>
        <li>
          <a routerLink="">Recipes</a>
        </li>
        <li>
          <a routerLink="about-me">About me</a>
        </li>
        @if (viewState() === 'Admin'){
        <li>
          <a routerLink="create-post">Create a post</a>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
