<!-- error handling -->
@if(!recipe) {
<div>
  <p>Recipe not found. what could have gone wrong?</p>
</div>
} @else {
<main>
  <a routerLink="">&#8592; Go back</a>
  <section class="content-section">
    <h2>{{ recipe.name }}</h2>
    <p>by {{ recipe.credits | checkForAuthor | joinAuthors }}</p>
    <p>Published {{ recipe.created_at | dateFormatter }}</p>

    <div class="image-container">
      <img src="{{ recipe.thumbnail_url }}" alt="{{ recipe.name }}" />
    </div>
    <p class="description">{{ recipe.description }}</p>
    <h3>Ingredients for {{ recipe.num_servings }} servings:</h3>
    <ul class="ingredients">
      @for(ingredient of ingredients; track ingredient.id; ) {
      <li>
        <p>
          {{ ingredient.quantity | hideZeroQuantity }} {{ ingredient.unit }}
          {{ ingredient.name }}
          {{ ingredient.extra_comment }}
        </p>
      </li>
      }
    </ul>
    <h3>Instructions:</h3>
    <ol class="instructions">
      @for(instruction of instructions; track instruction.id){
      <li>
        <p>{{ instruction.description }}</p>
      </li>
      }
    </ol>
    <div class="reaction-buttons">
      <button
        class="btn"
        (click)="recipeService.addReaction(recipe.id, 'likes')"
      >
        Delicious! {{ recipe.likes }}
      </button>
      <button
        class="btn"
        id="dislike"
        (click)="recipeService.addReaction(recipe.id, 'dislikes')"
      >
        Burnt... {{ recipe.dislikes }}
      </button>
    </div>
  </section>
  <section class="comment-section">
    <h3>Comments</h3>
    <label for="newComment">Add a comment </label>
    <textarea
      name="newComment"
      id="newComment"
      #newComment
      placeholder="I think i'll try this tonight!"
      rows="5"
    ></textarea>
    <button
      class="btn"
      (click)="
        commentService.addComment(newComment.value); newComment.value = ''
      "
    >
      Send
    </button>
    @if(comments.length > 0){
    <ul>
      @for(comment of comments; track comment.id){
      <li>
        <app-comment-item [comment]="comment"></app-comment-item>
      </li>
      }
    </ul>
    }
  </section>
</main>
}
