<!-- error handling -->
@if(!recipe) {
<div>
  <p>Recipe not found. what could have gone wrong?</p>
</div>
} @else {
<main>
  <a routerLink="">&#8592; Go back</a>
  <section>
    <h1>{{ recipe.name }}</h1>
    <p>by {{ recipe.credits | checkForAuthor | joinAuthors }}</p>
    <p>published {{ recipe.created_at | dateFormatter }}</p>
    <div>
      <button (click)="addReaction('likes')">Like {{ recipe.likes }}</button>
      <button (click)="addReaction('dislikes')">
        Dislike {{ recipe.dislikes }}
      </button>
    </div>
    <div>
      <img src="{{ recipe.thumbnail_url }}" alt="{{ recipe.name }}" />
    </div>
    <p>{{ recipe.description }}</p>
    <br />
    <p>Ingredients for {{ recipe.num_servings }} servings:</p>
    <ul>
      @for(ingredient of ingredients; track ingredient.id; ) {
      <li>
        <p>
          {{ ingredient.quantity | hideZeroQuantity }}{{ ingredient.unit }}
          {{ ingredient.name }}
          {{ ingredient.extra_comment }}
        </p>
      </li>
      }
    </ul>
    <br />
    <p>Instructions:</p>
    <ol>
      @for(instruction of instructions; track instruction.id){
      <li>
        <p>{{ instruction.description }}</p>
      </li>
      }
    </ol>
  </section>
  <section>
    <h2>Comments</h2>
    <ul>
      @for(comment of comments; track comment.id){
      <li>
        <app-comment-item [comment]="comment"></app-comment-item>
      </li>
      }
    </ul>
  </section>
</main>
}
