<section>
  <h2>Preview your post</h2>
  @if(createPostService.title()){
  <h3>{{ createPostService.title() }}</h3>
  } @if(createPostService.imagePreview()){
  <img
    class="image-preview"
    [src]="createPostService.imagePreview()"
    alt="Preview of image for blog post"
  />
  } @if(createPostService.description()){
  <p class="description-preview">{{ createPostService.description() }}</p>
  } @if(createPostService.noOfServings()){
  <h4>Ingredients for {{ createPostService.noOfServings() }} servings:</h4>
  }
  <ul>
    @if(createPostService.ingredients()!.length > 0){ @for(ingredient of
    createPostService.ingredients(); track ingredient.id) {
    <li>
      {{ ingredient.quantity }} {{ ingredient.unit }}
      {{ ingredient.name }} @if(ingredient.extra_comment){ -
      {{ ingredient.extra_comment }}}
      <button
        type="button"
        (click)="createPostService.removeIngredient($index)"
      >
        X
      </button>
    </li>
    } }
  </ul>
  @if(createPostService.instructions()!.length > 0){
  <h4>Instructions:</h4>
  <ol>
    @for(instruction of createPostService.instructions(); track instruction.id){
    <li>
      {{ instruction.description }}
      <button
        type="button"
        (click)="createPostService.removeInstruction($index)"
      >
        X
      </button>
    </li>
    }
  </ol>
  }
</section>
